{
    "$schema": "https://json.schemastore.org/prettierrc",
    "plugins": ["prettier-plugin-tailwindcss"],
    "semi": false,
    "singleQuote": true,
    "singleAttributePerLine": true,
    "tailwindAttributes": ["class", "className", "ui", ":ui"],
    "tailwindFunctions": ["cva", "clsx", "ui", ":ui"],
    "tailwindStylesheet": "./resources/css/app.css"
}
