includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - tests/database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - Call to an undefined method Illuminate\View\ComponentAttributeBag::wireModel()
