includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - tests/database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::wireModel\(\)#'
        - '#Call to an undefined method Foxws\\WireUse\\Views\\Support\\Page::getTitle\(\)#'
        - '#Call to an undefined method Foxws\\WireUse\\Views\\Support\\Page::getDescription\(\)#'
        - '#Call to an undefined method Foxws\\WireUse\\Views\\Support\\Page::getRobots\(\)#'
